<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.VPNConfig">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VPNConfig">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Открытие ss://, vmess:// и т.д. нашим приложением по желанию -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ss" />
                <data android:scheme="vmess" />
                <data android:scheme="vless" />
                <data android:scheme="trojan" />
            </intent-filter>
        </activity>
        <!-- Отдельный процесс :vpn — при падении нативного кода (libv2ray) не убивает основное приложение -->
        <service
            android:name=".VpnServiceImpl"
            android:exported="false"
            android:process=":vpn"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="VPN" />
        </service>
    </application>
</manifest>
